<!DOCTYPE html>
<html>
<head>
  <title>Turbomodules</title>
  <%= stylesheet_link_tag    "turbomodules/application", media: "all" %>
  <%= javascript_include_tag "turbomodules/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
