<noscript>Please enable JavaScript!</noscript>
<div>Some text</div>
<script>
  $("body").append("<div>Hi there, from a script!</div>");
</script>
<script data-turbolinks-eval="false">
  $("body").append("<div>Not going to see me, turbolinks will ignore</div>");
</script>
