<noscript>Please enable JavaScript!</noscript>
<div>Some text</div>
<script>
  var newDiv = document.createElement("div");
  var newContent = document.createTextNode("Hi there, from a script!");
  newDiv.appendChild(newContent);
  document.body.appendChild(newDiv);
</script>
